<h3>Student List</h3>

<div class="row">
    <form (submit)="loadSearch()">
        <div class="row">
            <div class="col-md-6">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" name="firstName" id="firstName" [(ngModel)]="searchForm.firstName">
            </div>
            <div class="col-md-6">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" name="lastName" id="lastName" [(ngModel)]="searchForm.lastName">
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 ">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
            
        </div>
    </form>
</div>

<div class="row mt-2">
    <div class="col-12 text-end">
        <button class="btn btn-primary" routerLink="/student-add">Add New Student</button>
    </div>
</div>

<mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)" >

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstName" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone" >
        <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.phone }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="courseNameList" >
        <mat-header-cell *matHeaderCellDef > Course List </mat-header-cell>
        <mat-cell *matCellDef="let element">
            @if (element.courseNameList && element.courseNameList.length > 0) {
                <ul class="list-group list-group-flush">
                    @for (courseName of element.courseNameList; track courseName) {
                        <li class="list-group-item">{{ courseName }}</li>
                    }
                </ul>
            }
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!-- Action buttons/icons go here -->
        <button mat-icon-button (click)="edit(element.id)" class="mr-3 mat-icon-button">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="delete(element.id)" class="mat-icon-button">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator
    [length]="itemCount()"
    [pageSize]="pageSize()"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (page)="onPageChange($event)">
</mat-paginator>


