<h3>Course Form</h3>

<div class="row mt-3">
  <div class="col-12">
    <form #courseForm = "ngForm" class="row g-3 needs-validation" novalidate>
      <div class="row">
          <div class="col-md-6">
              <label for="code" class="form-label">Code</label>
              @if(courseId > 0) {
                <input type="text" class="form-control" id="code" name="code" [(ngModel)]="courseItem.code" readonly>
              } @else {
                <input type="text" class="form-control" id="code" name="code" [(ngModel)]="courseItem.code" #code="ngModel" required>
                <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert alert-danger">
                  <div *ngIf="code.errors?.['required']">
                    Code is required.
                  </div>
                </div>
              }
              
          </div>
          <div class="col-md-6">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="courseItem.name" #name="ngModel" required>
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                <div *ngIf="name.errors?.['required']">
                  Name is required.
                </div>
              </div>
          </div>
      </div>
        
      <div class="row">
          <div class="col-md-6">
            <label for="startDate" class="form-label">Start Date</label>
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" id="startDate" name="startDate" [(ngModel)]="courseItem.startDate"
                matInput [matDatepicker]="startDatePicker"  
              >
              <mat-datepicker-toggle matSuffix [for]="startDatePicker" class="input-group-text"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </div>
          </div>
          <div class="col-md-6">
            <label for="endDate" class="form-label">End Date</label>
            <div class="input-group input-group-sm">
              <input type="text" class="form-control" id="endDate" name="endDate" [(ngModel)]="courseItem.endDate"
                matInput [matDatepicker]="endDatePicker"
              >
              <mat-datepicker-toggle matSuffix [for]="endDatePicker" class="input-group-text"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
            </div>
              
          </div>
          
      </div>
        
      <div class="row mt-2">
          <div class="col-12">
              @if(courseId > 0) {
                  <button class="btn btn-primary" type="button" [disabled]="courseForm.invalid" (click)="editCourse(courseId, courseForm.value)">Edit Course</button>
              } @else {
                  <button class="btn btn-primary" type="button" [disabled]="courseForm.invalid" (click)="createCourse(courseForm.value)">Create Course</button>
              }
          </div>
      </div>
        
    </form>
  </div>
</div>